@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


html {
  box-sizing: border-box;
}

body {
  
  
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(37, 37, 37);
}
 button{
   height: 45px;
   width: auto;
   cursor: pointer;
   outline: none;
   font-family: "Open Sans", sans-serif;
 }
 button:hover{
    filter: brightness(70%);
 }